.app-title {
  font-weight: bold;
  font-size: 20px;
}

.spacer {
  flex: 1 1 auto;
}

a {
  color: white;
  text-decoration: none;
}

.active-link {
  font-weight: bold;
  border-bottom: 2px solid white;
}
